@{
    ViewBag.Title = "Home Page";
}


@model List<SoftUniBook.Models.Post>

<div class="col">
    <div class="col-md-2">
        <div class="">

            @if (User.Identity.IsAuthenticated)
            {
                <h2>@HttpContext.Current.User.Identity.Name.ToString()</h2>

                var a = ".png";

                <img src="/Content/Pics/@HttpContext.Current.User.Identity.Name@a" height="250" width="250">




            }
            else
            {
                <br />
                    <div>
                        <img class="img" src="http://paidtoblog.co/wp-content/themes/genesis-sample/images/icons/exclusive-articles.png" alt="" style="vertical-align:text-bottom">
                    </div>
                    <a class="btn btn-primary" href="http://localhost:49674/Account/Register">Нямаш профил?<br />Присъидини се към нас</a>
            }
        </div>
    </div>
</div>

<section class="col-md-8">
    @foreach (var post in Model)
            {
        <article class="post col-md-6 col-lg-offset-2">
            <h2 class="title">@post.Title</h2>
            <div class="about">
                Публикувано
                @if (post.Author != null)
                {
                    @:от
                                                 <i>@post.Author.Email (@post.Author.FullName)</i>
                }
                на <i>@post.Date</i>
            </div>
            <div class="body">@Html.Raw(post.Body)</div>
        </article>
    }
</section>

<div class="col-md-2">               

    <h2>Реклама</h2>
    <p>Тук може да сложим рекламки или снимки или потребители</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
</div>
