@model SoftUniBook.Models.Post

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<h2>Детайли</h2>

<div>
    <h4>на пост</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>
    @foreach (var tag in Model.Tags)
    {
        @Html.ActionLink(tag.Title,"Tag")
    }
    </dl><div class="container">
        
            @foreach (var comment in Model.Comments)
            {
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <b>@comment.Author.UserName</b>
                                        добави коментар.
                                    </div><div class="post-description">
                                        <p>@comment.Content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

    </div>

</div>

@using (Html.BeginForm("Create", "Comments", FormMethod.Post))
{
    <input type="hidden" name="id" value=@Model.Id>
    <div class="form-group">
        <label for="inputlg">Напиши коментар</label>
        <input class="form-control input-lg" name="content" type="text">
    </div>
    <input type='submit' value='Добави!' class="btn btn-primary" />
}
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Обратно в профила", "Profile", "Manage", new { id = Model.Id }, null)
</p>
