@model IEnumerable<MVCBlog.Models.Post>

@{
    ViewBag.Title = "Профил";
}

<h2>Профил</h2>

<br />
<div class="col-md-3">

    <div class="form-group">
        @Html.Label("image", "Добави профилна снимка", new {@class = "control-label col-sm-12" })
            
                @Html.TextBox("image",null, new {type = "file"})
            
    </div>


    <br />

    <p><a class="btn btn-primary" href="http://localhost:49674/Manage/ChangePassword">Смени Паролата</a></p>
    <p><a class="btn btn-primary" href="http://localhost:49674/Manage/AddPhoneNumber">Добави тел.номер</a></p>
    <p><a class="btn btn-primary" href="http://localhost:49674/Manage/ManageLogins">ManageLogins</a></p>
    <p><a class="btn btn-primary" href="http://localhost:49674/Manage/SetPassword">Set Password</a></p>
    <p><a class="btn btn-primary" href="http://localhost:49674/Manage/VerifyPhoneNumber">VerifyPhoneNumber</a></p>

</div>


    <div class="col-md-9">
        
        <h2>@HttpContext.Current.User.Identity.Name.ToString()</h2>
        <div class="dropdown">Години
            <button class="dropdown-toggle btn btn-primary " type="button" data-toggle="dropdown">
                Избери
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">18</a></li>
                <li><a href="#">19</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">21</a></li>
            </ul></div>
        <p>Пол:</p>
        <p>Град:</p>
        <p>За мен:</p>

        <br />

        <p><a class="btn btn-primary" href="http://localhost:49674/Posts/Create">Създай нов пост &raquo;</a></p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Редактирай", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Детайли", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Изтрий", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>



