@model Blog.Models.IndexViewModel
@{
    ViewBag.Title = "Профил";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="col-md-2">
        <h2>Профил</h2>
        <p>
            Тук ще поставим профил на този, който се е логнал, ако не се е логнал, може да оставим форма за логване.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <div>
            
        </div>

        <h2>Начална страница</h2>
        <p>Тук ще се поставят всички публикации на потребителите.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h4>Настройки</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Парола:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Смени паролата", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
        </dl>
    </div>

</div>
